@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

.img {
    position: absolute;
    width: 80px;
    height: 80px;
    border: 8px solid #EBD8FF;
    border-radius: 50px;
    box-shadow: 0px 4.39163px 4.39163px rgba(0, 0, 0, 0.06),
        inset 0px -2.19582px -4.39163px #AE7BE3,
        inset 0px 4.39163px 3.29372px #FBF8FF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 10;
}

.tweets {
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #EBD8FF;
    top: 284px;
    left: 50%;
    transform: translateX(-50%);
}

.followers {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #EBD8FF;
    top: 324px;
    left: 50%;
    transform: translateX(-50%);
}

.btn {
    position: absolute;
    background: #EBD8FF;
    box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
    border-radius: 10.3108px;
    width: 196px;
    height: 50px;
    border: transparent;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #373737;
    top: 384px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btnActiv {
    position: absolute;
    background: #5CD3A8;
    box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
    border-radius: 10.3108px;
    width: 196px;
    height: 50px;
    border: transparent;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #373737;
    top: 384px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}